table {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.5px;
  color: #4a4a4a;
}

tr {
  min-height: 70px;
  height: 70px;
}

th {
  border-bottom: 5px solid #2c2c2c;
	font-weight: 900;
	font-size: 14px;
}

td {
  border-bottom: 1px solid #979797;
  font-weight: 500;
	font-size: 12px;
}

td, th {
  text-align: center;
  width: 20%;
  max-width: 200px;
}

@media all and (max-width: 575px) {
  td, th {
    letter-spacing: normal;
  }
}
