@import "./_color";

#navbar {
  position: relative;
  top: 34px;
  left: 50px;
  z-index: 99;
}

.navbar-default {
  background-color: #fff;
  border-color: transparent;

  .navbar-toggle {
    margin-top: 32px;
  }
}

.navbar-default .navbar-nav>li>a,
.navbar-brand h1,
.navbar-brand h4,
.navbar-default .navbar-text {
  padding-bottom: 0;
  font-weight: 600;
  color: $text;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}

.navbar-brand {
  h1 {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0;
  }
}

.open .nav-underline {
  opacity: 1;
}

.nav-underline {
  border-bottom: 3px solid $yellow;
  width: 70%;
  opacity: 0;
  margin: auto;
}

.navbar-nav > li {
  margin: 0 10px 0 10px;

  a {
    padding-bottom: 5px;

    // show yellow underline
    &:hover {
      & + .nav-underline {
        opacity: 1;
      }
    }
  }
}

li .dropdown-menu {
  box-shadow: none;
  border: none;
  background: transparent;
  width: 518px;
  padding-top: 8px;
}

.dropdown-menu li {
  display: inline-block;
}

.dropdown-menu > li > a {
  color: #222;
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 0.5px;

  &:hover {
    background: transparent;
  }
}

.dropdown-menu a::before {
  width: 2px;
  height: 10px;
  color: #FAD509;
  background: #fad509;
  display: inline-block;
  content: "";
  position: relative;
  right: 8px;
  transform: rotate(22deg);
}

// adjust `Team` submenu
.navbar-nav > li:nth-child(4) .dropdown-menu {
  left: -95px;
}

#content h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}

#bodyContent h4 {
  padding: 0;
}

@media all and (max-width: 767px) {
  .nav-underline {
    margin: 0 0 5px 15px;
    width: 30px;
  }
  .navbar-nav {
    background-color: #fff;
    border-radius: 5px;
  }
  .dropdown-menu > li > a {
    opacity: 0.9;
  }
}
