@import "./_color";
.navbar-default {
  background-color: #fff;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a,
.navbar-brand h1,
.navbar-brand h4,
.navbar-default .navbar-text {
  padding-bottom: 0;
  color: $text;
  font-weight: 600;
}

.navbar-brand{
  h1 {
    margin-bottom: 0;
}

h4 {
  margin-top: 0;
}
}

#navbar {
  position: relative;
  top: 34px;
  left: 50px;
  z-index: 99;
}

.navbar-nav > li {
  margin: 0 10px 0 10px;
}

.nav-underline {
  border-bottom: 4px solid $yellow;
  width: 55%;
  opacity: 0;
  margin: auto;
}

.navbar-nav > li > a {
  padding-bottom: 5px;
  &:hover {
    & + .nav-underline {
      opacity: 1;
  }
}
}

.navbar-default .navbar-toggle {
  margin-top: 32px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  &:hover {
    & + .nav-underline {
      opacity: 1;
   }
 }
}

li .dropdown-menu {
  border: 1px solid #eee;
  margin-top: 5px;
}

#content h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}

#bodyContent h4 {
  padding: 0;
}

@media all and (max-width: 767px) {
  .nav-underline {
    margin: 0 0 5px 15px;
    width: 30px;
    float: left;
  }
}
