@import "./_color";
@import "./_header";

html,body {
  background: $bg-color;
	color: $text;
  -webkit-font-smoothing: antialiased;
  font-family: 'NotoSansCJKtc-Regular', 'Noto Sans', "微軟雅黑","Microsoft YaHei", Helvetica, 'sans-serif';
	p {
		font-size: 16px;
	}
}
h1,h2,h3,h4,h5,h6{ overflow: auto; }

#container-big {
	height: 500px;
	width: 100%;
	top: 280px;
	position: absolute;

	#iGEMbar {
		position: fixed;
		top: 0;
		height: 16px;
		width: 100%;
		background: black;
		z-index: 30;
	}

	#line-left {
		border-right: 15px solid $yellow;
		height: 475px;
		position: absolute;
		left: 0;
	}

	#line-right {
		border-left: 15px solid $yellow;
		height: 475px;
		margin-top: 352px;
		position: absolute;
		right: 0;
	}

	#photo-left {
		width: 60%;
		height: 390px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

}

.container-fluid {
	width: 85%;
}

.block {
	border: 3px solid $text;
	padding: 15px 20px;
	line-height: 40px;
}

.head {
	font-size: 50px;
	font-weight: bold;
	border-bottom: 10px solid $yellow;
	position: relative;
}

.title-line {
	padding: 25px 0;
	border-top: 10px solid $yellow;
	font-size: 20px;
	font-weight: bold;
}

p,li {
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	text-align: start;
	text-justify:inter-ideograph;
}

/* below are special to igem's template */

body > #globalWrapper {
	font-size: 1em;
	padding: 0;

	#top_title, #sideMenu {
		display: none;
	}

	#content {
    line-height: inherit;
		margin: 0;
		padding: 0;
		width: 100%;
		margin-top: -10px;
	}

}
	code {
		border: initial; 
	}


@media all and (max-width: 767px) {
  .container-fluid {
    width: 100%;
  }
}
