@import "./_color";
@import "./_nav";

html,body {
  background: $bg-color;
	color: $text;
  -webkit-font-smoothing: antialiased;
  font-family: 'NotoSansCJKtc-Regular', 'Noto Sans', "微軟雅黑","Microsoft YaHei", Helvetica, 'sans-serif';
}

#container-big {
	background: $bg-gray;
	height: 500px;
	width: 100%;
	top: 280px;
	position: absolute;
	
	#line-left {
		border-left: 15px solid $yellow;
		height: 475px;
		margin-top: -135px;
		position: absolute;
		left: 0;
	}

	#line-right {
		border-right: 15px solid $yellow;
		height: 475px;
		margin-top: 156px;
		position: absolute;
		right: 0;
	}

}

.container-fluid {
	width: 65%;
}

.block {
	border: 3px solid $text;
	padding: 15px 20px;
	line-height: 40px;
}

.title-line {
	padding: 25px 0;
	border-top: 10px solid $yellow;
	font-size: 20px;
	font-weight: bold;
}

