@import "./_layout-content";
@import "./_form";

.content > .col-md-9 {
	width: 100%;
}

.title-content {
	&::before {
		font-family:'Glyphicons Halflings';
		content: "\e259  ";
		font-size: 14px;
	}
	cursor: pointer;
}

.text-content {
	display: none;
}

.content > .col-md-9 > .text-content > p {
	margin-left: 40px;
	margin-bottom: 0;
	padding: 2px 25px;
	text-indent: -10px;
	i {
		margin-right: 5px;
		margin-left: 10px;
	}
  &::before {
    content: '- ';
  }
}

h6 {
	font-size: 14px;
	font-weight: bold;
	margin: 20px 50px 5px;
}

h5 {
  opacity: 0.6;
  font-size: 18px;
  font-weight: bold;
  color: #222222;
	margin: 25px 50px 0px;

  &::before {
    width: 2px;
    height: 10px;
    color: #FAD509;
    background: #fad509;
    display: inline-block;
    content: "";
    position: relative;
    right: 8px;
    transform: rotate(22deg);
  }
}

.content #sidemenu {
	width: 100%;
	border: none;
	margin-top: -20px;
	li:first-child {
		margin: 0;
	}
	li {
		border-top: 10px solid $text;
		margin: 20px 0;
	}
}

