@import "./_layout";

p {
	text-align: left;
}

#big-title {
	margin-top: 100px;
	
	.col-md-4 {
		text-align: center;
		img { 
			height: 230px;
		}
	}
	
	.col-md-8 {
		vertical-align: middle;
		padding: 40px 20px;
		span {
			vertical-align: middle;
			font-size: 85px;
			font-weight: bold;
			border-bottom: 10px solid $yellow;
		}
		@media all and (max-width: 1199px) {
			text-align: center;
		}
	}
}

#first-p {
	margin-top: 90px;
	@media all and (max-width: 1199px) {
		margin-top: 10px;
	}
}

.title-special {
	background: $yellow;
	padding: 7px 20px 5px;
	font-weight: bold;
	font-size: 22px;
	text-align: left;
}

.title-line {
	margin-top: 100px;
}

