@import "./_layout-content";
@import "./_form";

//colors
$white:  white;
$black:  black;

td,th {
    text-align: center;
    &.dial {
        background-image: linear-gradient(to top right, $white 49%, $black, $white 51% );
    }
    div {
        &.right {
            text-align: right;
            padding-right: 5px;
        }
        &.left {
            text-align: left;
            padding-left: 5px;
        }
    }
}

.size1 {
    width: 200px;
}
.size2 {
    width: 100px;
}
.size3 {
    width: 50px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}