@import "./_layout-content";

.medal-block {
	width:15px;
	height:15px;
	margin-right: 5px;
	display: inline-block;
}

.s-content {

  h4 {
    margin-top: 30px;
    font-weight: bold;
  }

  h5 {
    margin-top: 20px;
    font-weight: bold;
  }

  p {
    padding: 10px 15px;
  }

}
