@import "./_layout";

p {
	text-align: left;
}

.container-fluid {
	&>.row {
		padding: 70px 3% 30px;	
	}
}

#big-title {
	margin-bottom: 70px;
	
	img { 
		height: 255px;
	}
	
	span {
		margin-left: 80px;
		font-size: 90px;
		font-weight: bold;
		border-bottom: 10px solid $yellow;
		@media all and (max-width: 1199px) {
			text-align: center;
		}
	}
}

#first-p {
	margin-top: 90px;
	@media all and (max-width: 1199px) {
		margin-top: 10px;
	}
}

.title-special {
	background: $yellow;
	padding: 7px 20px 5px;
	font-weight: bold;
	font-size: 22px;
	text-align: left;
}

.title-line {
	border-top: 8px solid $text;
}

#gray-bg {
	background: $bg-gray;
}

