<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
    </style>

		<div class="container-fluid" style="margin-top:100px">
				<div class="head">TEAM / Attibution</div>
				<div class="content row">
					<div class="col-md-9">
            <div class="head2">Experiments </div>
            <div class="rect">
              <h5>Biobrick Construction</h5>
              <p>洪迎馨 Ying Hsin Hong</p>
              <p>王佳恩</p>
            </div>
            <div class="head2">Dry Lab</div>
            <div class="rect">
              <h5>Modeling</h5>
              <p>陳書宇 Shu-Yu Chen</p>
            </div>
						<div class="head2">Presentation and Poster</div>
            <div class="rect">
              <p>Prof. 葉靜怡</p>
            </div>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
