<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">Human Practices</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="head2">head2</div>
						<p class="intro">introduction~~~<br/><br/></p>
						<div class="title-line">head3</div>
						<p>dihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxso</p>
						<img src="{{sample3}}" />
						<div class="title-line">head3</div>
						<p>dihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxso</p>
						<img src="{{sample3}}" />
					</div>
					<div class="col-md-3">
						<div class="block">Criteria:<br/>EVERYTHING<br/>is<br/>AWESOME</div>
						<div class="block">KEYPOINT:<br/>EVERYTHING<br/>is<br/>AWESOME</div>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
