<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">TEAM / Collaborations</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="head2">Team - Collaborations</div>
						<div class="title-line" id="section1">Protocols & Matericals</div>
						<div class="intro">Collaborate with <a href="http://2016.igem.org/Team:TCU_Taiwan" target="_blank">TCU_Taiwan</a> , we shared the protocol and sent the material for 1000ml of Glucose-free modified M9 medium for cell culturing and functional experiments.</div>
						<h5>Protocol for modified M9:</h5>
						<p>For preparing 10X M9 stock
							<ul><li>Formulation</li>
									<li>Disodium Phosphate Heptahydrate         128 g/L</li>
									<li>Monopotassium Phosphate                30 g/L</li>
									<li>Sodium Chloride                         5 g/L</li>
									<li>Ammonium Chloride                     10 g/L</li>
									<li>Final pH (2X solution): 6.6–7.0 at 25°C</li>
							</ul></p>
						<p>After dilution to 1X and autoclave, for every 20 ml, add
							<ul><li>20% D-Glucose solution       400ul</li>
									<li>1.0 M MgSO4 solution         40ul</li>
									<li>1.0 M CaCl2 solution         2ul</li>
									<li>20% Casamino acid            200ul</li>
							</ul></p>
						<p>Modofied M9 Sample sent to <a href="http://2016.igem.org/Team:TCU_Taiwan" target="_blank">TCU_Taiwan</a></p>
						<img src={{fig1}} />
						<div class="title-line" id="section2">Drylab</div>
						<h5>Collaboration with <a href="http://2016.igem.org/Team:TCU_Taiwan" target="_blank">TCU_Taiwan</a></h5>
						<p>Both of us are doing the project about glucose detection, we discuss some issues about how E. coli react when glucose is added and share the information and difficulties.</p>
						<p>Further, we also provide some mathematical support on deriving the formula of production rate when system reaches its equilibrium.</p>
						<img src="{{fig2}}" />
					</div>
					<div class="col-md-3">
						<ul id="sidemenu" style="width:90%">
							<li><a href="#" onClick="return toEvent('section1');">Protocols & Materials</a></li>
							<li><a href="#" onClick="return toEvent('section2');">Drylab</a></li>
						</ul>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
