<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">DEVICE / Demonstrate</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="head2">Demonstration</div>

						<div class="title-line" id="sec2">Urine Collection</div>
						<video class="demo-video" controls>
								<source src="{{video2}}" type="video/mp4">
								Your browser does not support the video.
						</video>
						<p>This is U-KNOW PLUS. We build an automatic urine collection system to make it even more user-friendly. By pressing the button, your urine is automatically collected and sent to our column. Through U-KNOW PLUS, the U-Know detection causes us no inconvenience to our daily life.</p>
						<p>Therefore, you can use it every day to know about your glucose level without invasive monitoring detection.</p>

						<div class="title-line" id="sec1">Demo Video</div>
						<video class="demo-video" controls>
								<source src="{{video1}}" type="video/mp4">
								Your browser does not support the video.
						</video>
						<p>Step ONE: Turn on U-KNOW</p>
						<p>Step TWO: Sample your urine in a column in our device, U-KNOW.</p>
						<p>Step THREE: Receive the result on the screen. The signal can be send to an app connecting with U-KNOW, so the users are able to track the result through via smart devices, such as smart phone and Apple Watch.</p>
					</div>
					<div class="col-md-3">
						<ul id="sidemenu">
							<li><a href="#" onClick="return toEvent('sec1');">Demo Video</a></li>
							<li><a href="#" onClick="return toEvent('sec2');">Urine Collection</a></li>
						</ul>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
