<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{cssParts}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">Project / Parts</div>
				<div class="content row">
					<div class="col-md-9">
            <h5 class="title-line">Basic Part</h5>
            <table>
              <tr>
                <th>promoter</th>
                <th>number</th>
                <th>name</th>
                <th></th>
              </tr>
              <tr>
                <td></td><td>J23101</td><td></td><td>consitutive promoter</td>
              </tr>
              <tr>
                <td></td><td>J23110</td><td></td><td>consitutive promoter</td>
              </tr>
              <tr>
                <td></td><td>K861171</td><td>Pcar</td><td>glucose induced promoter</td>
              </tr>
              <tr>
                <td></td><td>K861170</td><td>PI</td><td>glucose induced promoter</td>
              </tr>
              <tr>
                <td></td><td>K206000</td><td>pBAD</td><td>arabinose induced promoter</td>
              </tr>
              <tr>
                <td></td><td></td><td></td><td></td>
              </tr>
              <tr>
                <td>RBS</td><td>B0034</td><td></td><td>1</td>
              </tr>
              <tr>
                <td></td><td>B0032</td><td></td><td>0.3</td>
              </tr>
              <tr>
                <td></td><td>B0031</td><td></td><td>0.07</td>
              </tr>
              <tr>
                <td></td><td></td><td></td><td></td>
              </tr>
              <tr>
                <td>CDS</td><td>E1010</td><td>RFP</td><td>red fluroscent protent</td>
              </tr>
              <tr>
                <td></td><td>K592009</td><td>AmilCP</td><td>blue chromoprotein</td>
              </tr>
              <tr>
                <td></td><td>K117000</td><td>lysis</td><td>suicide gene</td>
              </tr>
              <tr>
                <td></td><td></td><td></td><td></td>
              </tr>
              <tr>
                <td>terminater</td><td>B0015</td><td></td><td></td>
              </tr>
            </table>
            <h5 class="title-line">Composite Part</h5>
            <h6><strong>Glucose Detection Circuit</strong></h6>
            <table>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Type
                </th>
                <th>
                  Description
                </th>
                <th>
                  Designer
                </th>
                <th>
                  Length
                </th>
              </tr>
              <tr><td>BBa_K1920000</td><td>Device</td><td>Pcar-RBS-RFP-TT</td><td>Chia-En Wong</td><td>905</td></tr>
              <tr><td>BBa_K1920001</td><td>Device</td><td>Pl-RBS-RFP-TT</td><td>Chia-En Wong ,Ying-Hsin Hung , Fang-Wei Yu</td><td>905</td></tr>
              <tr><td>BBa_K1920007</td><td>Device</td><td>Pcar-RBS-amilCP-TT</td><td>Wei-Hsuan Wang</td><td>868</td></tr>
              <tr><td>BBa_K1920008</td><td>Device</td><td>Pl-RBS-amilCP-TT</td><td>Wei-Hsuan Wang</td><td>868</td></tr>
            </table>
            <h6><strong>Safety Circuit</strong></h6>
           <table>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Type
                </th>
                <th>
                  Description
                </th>
                <th>
                  Designer
                </th>
                <th>
                  Length
                </th>
              </tr>
              <tr><td>BBa_K1920002</td><td>Device</td><td>PoPS->lysis</td><td>Chia-En Wong</td><td>344</td></tr>
              <tr><td>BBa_K1920003</td><td>Device</td><td>PoPS->lysis</td><td>Chia-En Wong</td><td>343</td></tr>
              <tr><td>BBa_K1920004</td><td>Device</td><td>PoPS->lysis</td><td>Chia-En Wong</td><td>344</td></tr>
              <tr><td>BBa_K1920005</td><td>Device</td><td>PoPS->lysis</td><td>Chia-En Wong</td><td>343</td></tr>
              <tr><td>BBa_K1920006</td><td>Device</td><td>pBAD-RBS-lysis-B0015</td><td>CHIA-EN,WONG</td><td>437</td></tr>
            </table>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
