<script src="{{jsLink1}}"></script>
<script src="{{jsLink2}}"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
  "HTML-CSS": {scale: 100},
  CommonHTML: {scale: 100},
  SVG: {scale:100}
});
</script>
<script src="{{MathJaxjs}}"></script>
<script src="{{commonjs}}"></script>
<script>
(function() {
    /* change icon */
    var link = document.createElement('link');
    link.type = 'image/x-icon';
    link.rel = 'shortcut icon';
    link.href = '{{icon}}';
    document.getElementsByTagName('head')[0].appendChild(link);
}());
</script>
