<meta charset="utf-8">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" href="/favicon.ico" />
<meta property="og:title" content="{{page.title}}">
<meta property="og:site_name" content="{{page.title}}">
<meta property="og:description" content="{{page.description}}">
<title>{{page.title}}</title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta property="og:image" content="{{domain}}{{page.img}}">
<meta property="og:image:type" content="image/png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
