<nav class="navbar navbar-default">
<div class="container-fluid">
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/wiki/">Home</a></li>
      <li><a href="/wiki/Team">Team</a></li>
      <li><a href="/wiki/Attributions">Attributions</a></li>
      <li><a href="/wiki/Description">Description</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
<div id="container-big">
	<div id="line-left"></div>
	<div id="line-right"></div>
</div><!--/.container-big -->

