<nav class="navbar navbar-default">
<div class="container-fluid">
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/wiki/">Home</a></li>
      <li><a href="/wiki/Project">Project</a></li>
      <li><a href="/wiki/Wetlab">WetLab</a></li>
      <li><a href="/wiki/Drylab">DryLab</a></li>
      <li><a href="/wiki/Human_Practice">Human Practice</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
<div id="container-big">
	<div id="line-left"></div>
	<div id="line-right"></div>
</div><!--/.container-big -->

