<style>
@font-face {
  font-family: 'NotoSansCJKtc-Regular';
  src: url("{{font}}") format('woff');
}
</style>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{home}}">
        <h1>NCKU</h1>
        <h4>Tainan</h4>
      </a>
   </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expa="" nded="true" href="{{project}}">Project</a><div class="nav-underline"></div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="{{projOverview}}">Overview</a></li>
          <li><a href="{{projDescription}}">Description</a></li>
          <li><a href="{{projResults}}">Results</a></li>
          <li><a href="{{projModeling}}">Modeling</a></li>
          <li><a href="{{projParts}}">Parts</a></li>
        </ul>
      </li>

      <li>
        <a class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expa="" nded="true" href="{{device}}">Device</a><div class="nav-underline"></div>
        <ul class="dropdown-menu" aria-labelledby ="dropdownMenu2">
          <li><a href="{{deviceHardware}}">Hardware</a></li>
          <li><a href="{{deviceSoftware}}">Software</a></li>
          <li><a href="{{deviceDemonstrate}}">Demonstrate</a></li>
        </ul>
      </li>

       <li>
        <a class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expa="" nded="true" href="{{judging}}">Judging</a><div class="nav-underline"></div>
        <ul class="dropdown-menu" aria-labelledby ="dropdownMenu2">
          <li><a href="{{judgingMedal}}">Medal</a></li>
          <li><a href="{{judgingSafetyForm}}">Safety form</a></li>
        </ul>
        </li>

      <li>
        <a class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expa="" nded="true" href="{{team}}">Team</a><div class="nav-underline"></div>
        <ul class="dropdown-menu" aria-labelledby ="dropdownMenu2">
          <li><a href="{{team}}">Team</a></li>
          <li><a href="{{teamAttributions}}">Attributions</a></li>
          <li><a href="{{teamAcknowledgement}}">Acknowledgement</a></li>
          <li><a href="{{teaaCollaborations}}">Collaborations</a></li>
        </ul>
        </li>

      <li>
        <a href="{{hp}}">HP</a><div class="nav-underline"></div>
      </li>

      <li>
        <a href="{{notebook}}">Notebook</a><div class="nav-underline"></div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
<div id="container-big">
	<div id="line-left"></div>
	<div id="line-left2"></div>
	<div id="line-right"></div>
	<div id="photo-left"></div>
</div><!--/.container-big -->

