<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{cssHome}}">
  </head>
  <body>
    {{> header }}
		<style> #home_bg{ background-image: url('{{home_bg}}'); } </style>
		<div class="container-fluid" id="big-title">
			<div class="row">
				<div> <img src="{{logoUrl}}" /> </div>
				<div>
					<span id="bigSpan">U-KNOW&nbsp;&nbsp;&nbsp;</span><br/>
					<span id="smallSpan">Better Diabetes Prevention</span>
				</div>
			</div>
		</div> <!--/.container-fluid -->
		<div class="container-fluid grayBg">
			<h1>Abstract</h1>
			<div class="row">
				<div class="col-md-6">
					<p>Diabetes Mellitus, the one common cause of metabolic syndrome, has become one of the fatal diseases in the 21st century. Currently, the diabetic population has reached 415 million and estimated to be 642 million in 2040. In turn, the prevalence rate in many developed countries has exceed 10%. Shockingly, HALF of the diabetic people DO NOT know they have diabetes.</p>

					<p>Our device, U-KNOW, is a urine glucose bio-sensor that can allow people to be  aware of the risk for developing diabetes. Based on the application of synthetic biology and our genetically engineered <i>E. coli</i>,</p>
				</div>
				<div class="col-md-6">
					<p>U-KNOW can biologically measure the urine glucose through the fluorescent protein induced by glucose. Combined with our hardware system, U-KNOW can transform the result into a digital form that is to convert fluorescent intensity to a number.</p>

					<p>By detecting the presence and the exact level of urine glucose, U-KNOW aims to screen the High-Risk Groups of diabetes at the very early stage, We expect to achieve our ultimate goal- Prevention, because we believe that “Prevention is better than cure”.</p>
				</div>
			</div>
		</div> <!-- /.container-fluid -->
		<div id="home_bg">
			<div id="text">iGEM NCKU Tainan</div>
		</div>
		<div class="container-fluid grayBg"> 
			<video class="home-video" controls>
					<source src="{{video1}}" type="video/mp4">
					Your browser does not support the video.
			</video>
		</div>
		{{> footer }}
	</body>
</html>
