<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{cssHome}}">
  </head>
  <body>
    {{> header }}
		<style> #home_bg{ background-image: url('{{home_bg}}'); } </style>
		<div class="container-fluid" id="big-title">
			<div class="row">
				<img src="{{logoUrl}}" />
				<span>U-KNOW&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</div>
		</div> <!--/.container-fluid -->
		<div class="container-fluid grayBg">
			<h1>Abstract</h1>
			<div class="row">
				<div class="col-md-6">
					<p>Diabetes Mellitus, the one common cause of metabolic syndrome, has become the deadliest disease in the 21st century. Currently, the world has a diabetic population of 415 million, and the prevalence rate in many developed countries has exceed 10%. Most of all, HALF of the diabetic people DO NOT know they have diabetes.</p>

					<p>U-KNOW is a urine glucose bio-sensor, letting people know their own diabetic risk. Based on the application of synthetic biology, which is our genetically engineered E.coli, U-KNOW can biologically measure </p>
				</div>
				<div class="col-md-6">
					<p>the urine glucose by glucose-induced expression of fluorescent protein. Combined with our hardware system, U-KNOW can transform the result into a more simple form:from fluorescent intensity to a number.</p>
	
					<p>By detecting the presence and the exact level of urine glucose, U-KNOW is aimed to screen out the High-Risk Groups of diabetes, and to achieve our ultimate goal: prevention.</p>
				</div>
			</div>
		</div> <!-- /.container-fluid -->
		<div id="home_bg">
			<div id="text">iGEM NCKU Tainan</div>
		</div>
		<div class="container-fluid grayBg"> 
			<iframe class="home-video" src="https://www.youtube.com/embed/ZahYDHKL-dI" frameborder="0" allowfullscreen></iframe>
		</div>
		{{> footer }}
	</body>
</html>
