<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/wiki/css/home.css">
  </head>
  <body>
    {{> header }}
		<div class="container-fluid" id="big-title">
			<div class="row">
				<div class="col-md-4"><img src="/wiki/images/ulogo.png"/></div>
				<div class="col-md-8"><span>U-KNOW</span></div>
			</div>
			<div class="row" style="word-wrap:break-word;text-align:left;">
				<div class="col-md-4" style="margin-top:85px">
					<p>dihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxst</p>
				</div>
				<div class="col-md-4">
					<p>dihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxstdihtsnbkklxhgwxajxsoqjhxst</p>
				</div>
				<div class="col-md-3">
					<div class="block">NEXT<br/>GENERATION</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</body>
</html>
